body {
  background-color: $color-gray;
}

.headshot {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;

  path {
    transition: transform ease-in-out, opacity;
    transform-origin: center;
    animation-name: triangles;
    animation-duration: 4s;
    animation-iteration-count: infinite;

    @for $i from 1 through 100 {
      &:nth-child(#{$i}) {
        html:not(.loaded) & {
          $offset: random(1500) * .001;
          $duration: (2 - $offset) * 1s;
          $delay: $offset * 1s;
          opacity: 0;
          transform: rotate(#{(random(60) - 30) * 1deg}) skew(#{(random(10) - 5) * 1deg}, #{(random(10) - 5) * 1deg}) scale(0);
          transition-duration: $duration, $duration;
          transition-delay: $delay, $delay;
        }
        animation-delay: random(100) / 100 * 4s;
      }
    }

    .loaded & {
      // transform: none;
      // transition-duration: 0s, 0s;
      // transition-delay: 0s, 0s;
      // opacity: 1;
    }
  }
}

@keyframes triangles {
  0%, 100% {
    opacity: 1;
    transform: none;
  }
  50% {
    opacity: .85;
    transform: scale(1.015);
  }
}
