html,
body {
  height: 100%;
}

body {
  &::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
  }
}

.container {
  width: 98%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 1em;
  position: relative;
  text-shadow: 0 .125em .125em rgba($color-black, .625);
  z-index: 1;

  &::before {
    content: '';
    display: block;
    position: fixed;
    background: rgba($color-gray, 0.625);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &.resume{
    margin-top: 100px;
    margin-top: 5vw;

    ::before {
      background: rgba($color-gray, .8);
    }
  }

  @include breakpoint(medium) {
    width: 62.5%;

    &.resume {
      width: 50%;
    }

    &::before {
      display: none;
    }
  }
}


.clearfix:before,
.clearfix:after {
  content: " ";
  display: block;
}

.clearfix:after {
  clear: both;
}