:root {
  font-size: em(18);

  @include breakpoint(small) {
    font-size: em(20);
  }

  @include breakpoint(medium) {
    font-size: em(20);
  }

  @include breakpoint(large) {
    font-size: em(24);
  }

  @include breakpoint(wide) {
    font-size: em(30);
  }
}

body {
  color: $color-white;
  font-family: $font-text;
  font-size: 1em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  text-align: right;

  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual;
  -moz-font-feature-settings: "kern", "liga", "clig", "dlig", "swsh", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "dlig", "swsh", "alt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "dlig", "swsh", "calt";
  font-feature-settings: "kern", "liga", "clig", "dlig", "swsh", "calt";
}

h1 {
  font-size: 138.2%;
  font-weight: inherit;
  margin: 0;

  @include breakpoint(small) {
    font-size: 200%;
  }

  .resume & {
    margin: .5em 0;
    font-size: 200%;
    font-weight: bold;

    + h2 {
      margin-top: -.3em;
      font-size: 123.6%;
    }
  }
}

h2 {
  margin: 1em 0 .5em;
  font-size: 161.8%;
  font-weight: 200;
  text-transform: uppercase;
}

h3 {
  margin: 1em 0;
  font-size: 123.6%;
  font-weight: bold;
  text-align: left;
}

h4 {
  margin: 1em 0;
  font-size: 100%;
  text-align: left;
  font-weight: bold;
  font-variant: small-caps;
  text-transform: lowercase;
}

ul {
  list-style: none;
  margin: 2em auto 0;
  padding: 0;
  text-align: center;

  .resume & {
    margin-top: 0;
    margin-bottom: 1em;
    text-align: left;
    list-style: disc;
  }
}

li {
  display: inline-block;
  margin: .5em .25em 1.5em;
  padding: 0;
  width: auto;
  .resume & {
    display: list-item;
    margin-left: 1.75em;
    margin-bottom: .5em;
    line-height: 1.4;
  }
}

p {
  margin: 2em auto 1em;

  .resume & {
    text-align: left;
    margin: 0 auto 1em;
    line-height: 1.4;
  }
}

a {
  &,
  &:visited {
    color: $color-white;
    text-decoration: none;

    &.hex {
      $hex-size: 5em;
      display: inline-block;
      margin-bottom: 1em;
      padding: 0;
      width: $hex-size;
      height: $hex-size;
      position: relative;
      line-height: $hex-size;
      text-align: center;
      transform: rotate(360deg);
      transition: color .3s, border-color .3s;

      &::before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300"><polygon fill="none" stroke="white" stroke-width="3" points="300,150 225,280 75,280 0,150 75,20 225,20"></polygon></svg>');
        background-size: contain;
        transform: rotate(-90deg);
        transition: transform .3s ease-in-out;
      }

      &:focus,
      &:active,
      &:hover {
        color: $color-blue;

        &::before {
          transform: rotate(270deg);
        }
      }
    }

    &:focus,
    &:active,
    &:hover {
      border-color: $color-blue;
    }
  }

  .resume & {
    border-bottom: 1px solid currentColor;
    transition: color .3s, border-color .3s;

    &:hover {
      color: mix($color-blue, $color-white);
    }
  }
}

.name {
  display: block;
  font-family: $font-heading;
  font-weight: bold;
  font-size: 161.8%;
}
