/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

@import 'normalize.min';
@import 'fonts';

$breakpoints: (small: 480px, medium: 750px, large: 960px, wide: 1200px);

@mixin breakpoint($name) {
	@if not map-has-key($breakpoints, $name) {
		@warn "Warning: `#{$name}` is not a valid breakpoint name.";
	}

	@else {
		@media (min-width: map-get($breakpoints, $name)) {
			@content;
		}
	}
}

html {
	color: #fff;
	font-size: 1em;
	line-height: 1;
}

* {
	box-sizing: border-box;
}

::-moz-selection {
	background: #fff;
	background: rgba(#fff, 0.75);
	text-shadow: none;
}

::selection {
	background: #fff;
	background: rgba(#fff, 0.75);
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
	 Author's custom styles
	 ========================================================================== */

html,
body {
	height: 100%;
}

body {
	font-family: Texta, Avenir Next, Avenir, Verdana, sans-serif;
	font-size: 16px;
	background: #666 url(/img/james-bkgd-750x500.jpg) no-repeat 40% center fixed;
	background-size: cover;
	font-weight: 300;
	text-align: right;

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		background-image: url(/img/james-bkgd-1500x1000.jpg);
	}

	@include breakpoint(small) {
		font-size: 20px;
	}

	@include breakpoint(medium) {
		font-size: 24px;
		background-position: center center;
	}
	
	@media screen and (min-height: 500px) {
		background-image: url(/img/james-bkgd-1500x1000.jpg);
		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
			background-image: url(/img/james-bkgd-2250x1500.jpg);
		}
	}

	@include breakpoint(large) {
		font-size: 28px;
		background-image: url(/img/james-bkgd-1500x1000.jpg);

		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
			background-image: url(/img/james-bkgd-2250x1500.jpg);
		}
	}
	
	@media screen and (min-height: 1000px) {
		background-image: url(/img/james-bkgd-1500x1000.jpg);
	
		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
			background-image: url(/img/james-bkgd-2250x1500.jpg);
		}
	}

	@include breakpoint(wide) {
		font-size: 32px;
		background-image: url(/img/james-bkgd-1500x1000.jpg);

		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
			background-image: url(/img/james-bkgd-3000x2000.jpg);
		}
	}
		
	&::after {
		content: '';
		display: inline-block;
		vertical-align: middle;
		height: 100%;
		width: 0;
	}
}

.container {
	width: 98%;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	padding: 1em;
	text-shadow: 0 .25em .25em rgba(#464646, .625);

	&::before {
		content: '';
		display: block;
		position: fixed;
		background: rgba(#464646, 0.625);
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
	}

	@include breakpoint(medium) {
		width: 62.5%;
		text-shadow: 0 .25em .25em rgba(#464646, .625);

		&::before {
			display: none;
		}
	}
}

h1 {
	font-size: 138.2%;
	font-weight: inherit;
	margin: 0;

	@include breakpoint(small) {
		font-size: 200%;
	}
}

.name {
	font-size: 161.8%;
	display: block;
	font-weight: bold;
}

ul {
	list-style: none;
	margin: 2em auto 0;
	padding: 0;
	text-align: center;

	@include breakpoint(medium) {
// 		max-width: 16em;
	}

	@include breakpoint(large) {
		// margin: 1em 0;
	}
}

li {
	display: inline-block;
	margin: .5em .25em 1.5em;
	padding: 0;
	width: auto;
}

p {
	margin: 2em 0 1em;
}

a {
	&,
	&:visited {
		color: #fff;
		text-decoration: none;
		display: inline-block;
		padding: 1em 0;
		line-height: 1;
		transition: background-color .3s;
		transform: rotate(360deg);
		border: 1px solid currentColor;
		width: 6em;
		height: 3.5em;
		line-height: 1.5em;
		border-width: 0 1px;
		border-radius: .25em;
		position: relative;
		text-align: center;
		transition: color .3s, border-color .3s;

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border: inherit;
			border-radius: inherit;
			transform-origin: center center;
			transform: rotate(-60deg);
		}

		&::after {
			transform: rotate(60deg);
		}
	}

	&:focus,
	&:active,
	&:hover {
		border-color: #5CACC4;
	}
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
	 Print styles
	 ========================================================================== */

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}