@mixin fonts($family, $file, $style: normal, $weight: normal) {
  @font-face {
    font-family: $family;
    src: url("/fonts/#{$file}.woff2") format("woff2"),
         url("/fonts/#{$file}.woff") format("woff"),
         url("/fonts/#{$file}.ttf") format("truetype");
    font-style: $style;
    font-weight: $weight;
    font-display: swap;
  }
}

@include fonts(Texta, 2D4C2D_B_0);
@include fonts(Texta, 2D4C2D_A_0, italic);
@include fonts(Texta, 2D4C2D_3_0, $weight: bold);
@include fonts(Texta, 2D4C2D_2_0, italic, bold);
