:root {
  font-size: 1.125rem;

  @include breakpoint(small) {
    font-size: 1.25rem;
  }

  @include breakpoint(large) {
    font-size: 1.5rem;
  }

  @include breakpoint(wide) {
    font-size: 1.875rem;
  }
}

body {
  color: var(--color-white);
  font-family: var(--font-text);
  font-size: 1rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  text-align: right;

  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual;
  font-feature-settings: "kern", "liga", "clig", "dlig", "swsh", "calt";
}

h1 {
  font-size: 1.5rem;
  font-weight: inherit;
  margin: 0;

  @include breakpoint(small) {
    font-size: 2rem;
  }

  .resume & {
    margin: 0.5em 0 0;
    font-size: 2rem;
    font-weight: bold;

    + h2 {
      font-size: 1.2rem;
    }
  }
}

.name {
  display: block;
  margin-bottom: 1rem;
  white-space: no-wrap;
  font-family: var(--font-heading);
  font-weight: bold;
  font-size: 1.618em;

  @include breakpoint(medium) {
    display: inline-block;
  }
}

.tagline {
  font-size: 1.5rem;
  font-weight: inherit;
  margin: 0 0 1rem;

  @include breakpoint(small) {
    font-size: 1.5rem;
  }

  & + & {
    margin-top: 1rem;
  }
}

.links {
  margin-top: 1rem;
}

h2 {
  margin: 2rem 0 0;
  font-size: 1.6rem;
  font-weight: 200;
  text-transform: uppercase;
}

h3 {
  margin: 2rem 0 0;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;

  h2 + & {
    margin-top: 1rem;
  }
}

h4 {
  margin: 1rem 0 0;
  font-size: 1rem;
  text-align: left;
  font-weight: bold;
  font-variant: small-caps;
  text-transform: lowercase;
}

ul {
  list-style: none;
  margin: 1rem auto 0;
  padding: 0;
  text-align: center;

  .resume & {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    list-style: disc;
  }
}

li {
  display: inline-block;
  margin: 0.5rem 0.25rem 01.5rem;
  padding: 0;
  width: auto;

  .resume & {
    display: list-item;
    margin-left: 1.75rem;
    margin-bottom: 0.5rem;
    line-height: 1.4;
  }
}

p {
  margin: 1rem 0 0;

  .resume & {
    text-align: left;
    line-height: 1.4;
  }
}

a {
  &,
  &:visited {
    color: var(--color-white);
    text-decoration: none;

    &.hex {
      $hex-size: 5em;
      display: inline-block;
      margin-bottom: 1rem;
      padding: 0;
      width: $hex-size;
      height: $hex-size;
      position: relative;
      line-height: $hex-size;
      text-align: center;
      transition: color .3s, border-color .3s;

      &::before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background-image: url('data:image/svg+xml,%3Csvg xmlns%3D%22http://www.w3.org/2000/svg%22 viewBox%3D%220 0 300 300%22%3E%3Cpolygon fill%3D%22none%22 stroke%3D%22white%22 stroke-width%3D%223%22 points%3D%22300,150 225,280 75,280 0,150 75,20 225,20%22%3E%3C/polygon%3E%3C/svg%3E');
        background-size: contain;
        transform: rotate(270deg);
        transition: transform .3s ease-in-out;
      }

      &:focus,
      &:active,
      &:hover {
        color: var(--color-blue);

        &::before {
          transform: rotate(390deg);
        }
      }
    }

    &:focus,
    &:active,
    &:hover {
      border-color: var(--color-blue);
    }
  }

  .resume & {
    border-bottom: 1px solid currentColor;
    transition: color .2s, border-color .2s;

    &:hover {
      color: var(--color-blue);
    }
  }
}
