:root {
  --rgb-black: 0, 0, 0;
  --rgb-white: 255, 255, 255;
  --rgb-gray: 84, 82, 78;
  --rgb-blue: 92, 172, 196;
  --color-black: rgb(var(--rgb-black));
  --color-white: rgb(var(--rgb-white));
  --color-gray: rgb(var(--rgb-gray));
  --color-blue: rgb(var(--rgb-blue));

  --font-text: Texta, sans-serif;
  --font-heading: var(--font-text);
}
