$color-blue:  #5cacc4;
$color-white: #fff;
$color-gray:  #54524E;
$color-black: #000;

$font-text:    Texta, sans-serif;
$font-heading: $font-text;

$breakpoints: (
  small: 480px,
  medium: 750px,
  large: 960px,
  wide: 1200px
);
